{% extends 'base.html.twig' %}

{% block title %}
    Главная
{% endblock %}

{% block body %}
        <h1>Главная</h1>

        <button onclick="window.location='{{ path('app_main') }}'" class="btn" type="submit">
            Главная
        </button>
        <button onclick="window.location='{{ path('app_news_new') }}'" class="btn" type="submit">
            Добавить новость
        </button>

    {# Форма добовления комментариея #}
    {{ include('_form.html.twig', {'form': formSearchAuthor}) }}

        {# Отоброжение новостей #}
        {% if newsList is empty %}
            <p>Новостей пока нет</p>
        {% else %}
            <ul>
                {% for news in newsList %}

                    <li data-author="{{ news.author.username }}" >
                        <p>{{ news.dateCreated|date('Y-m-d H:i:s') }}</p>
                        <p>{{ news.author.username }}</p>
                        <p>{{ news.mainText|slice(0, 50) }}</p>
                        <a href="{{ path('app_news_show', {'id': news.id}) }}">Читать далее</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    <script>
        $( ".slowAuthor" ).click(function() {
            let slowAuthor = $(".authorText").val();
            $( "li" )
                .filter(function (){
                    return $( this ).data( "author" ) === slowAuthor
                })
                .hide();
        });
    </script>

{% endblock %}
