{% extends 'base.html.twig' %}

{% block title %}News{% endblock %}

{% block body %}
    <head>
        <meta charset="utf-8">
        <title>style</title>
        <style>
            td {
                color: blue;
            }
        </style>
    </head>
    <h1>Просмотр новости</h1>

    {# Кнопка Главная #}
    <button onclick="window.location='{{ path('app_main') }}'" class="btn" type="submit">
        Главная
    </button>

    {# Кнопка удалить форму #}
    {{ include('news/delete_form.html.twig',{'news': news }) }}

    {# Таблица отображение новости #}
    <table class="tableNews">
        <tbody>
            <tr>
                <th>Дата создания новости</th>
                <td>{{ news.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Автор новости</th>
                <td>{{ news.author.username }}</td>
            </tr>
            <tr>
                <th>Новость</th>
                <td>{{ news.mainText }}</td>
            </tr>
        </tbody>
    </table>

    {# Кнопка для раскраски текста коментариев #}
    <button id="colorizeComment" >Раскрасить(red)</button>

    {# Отображение коментариев, если есть #}
    {% if commentList is empty %}
    <p>Комментариев пока нет</p>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th style="display: none">ID</th>
                <th>Комментарий</th>
                <th>Дата комментария</th>
                <th>Пользователь</th>
            </tr>
            </thead>
            <tbody >
            {% for comment in commentList %}
                <tr id="{{ comment.id }}" class="{{ comment.id }}">
                    <th style="display: none" class="id">{{ comment.id }}</th>
                     <td class="content">{{ comment.mainContent }}</td>
                    <td>{{ comment.date|date('Y-m-d H:i:s') }}</td>
                    <td>{{ comment.Author.getUsername }}</td>
                    <td><button id ='{{ comment.id }}' class="submit">Удалить</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {# Отображение ошибок #}
    {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    {# Форма добовления комментариея #}
    {{ include('_form.html.twig', {'form': commentNewForm}) }}

    <script>
        {# Скрипт для раскаски #}
        $('#colorizeComment').click(function () {
            $('td')
                .filter('.content')
                .css("color", "red")
            ;
        });

        {# Отправка POST запроса для удалении комментария #}
        $('.submit').click(function () {
            let commentId = $(this).attr("id");
            $.ajax({
                url: 'ajax_comment_delete/', // не менял
                method: 'POST',
                dataType: 'html',
                data: {commentId: commentId}, // Отправляю через data
                success: function (data) {
                    console.log(data);
                    $('tr')
                        .filter(function (){
                            return $( this ).attr( "id" ) === commentId
                        })
                        .remove();
                }
            });
        });

        {# Отсеживание ошибок ajax #}
        $(document).ajaxError(function(event, xhr, options) {

            switch (xhr.status){

                case 403:

                    alert('Requested page forbidden (404).');

                    break;

                case 404:

                    alert('Requested page not found (404).');

                    break;

                case 500:

                    alert('Internal Server Error (500).');

                    break;

            }

        });
    </script>


{% endblock %}
